In [2]:
# Printing
name = 'Rebecca'
print(name)

Rebecca

In [4]:
age = 23;
print(age)

23

In [6]:
dog_age = age * 7
print(dog_age)

161

In [9]:
# checking data types
print(type(age))

<class 'int'>

In [11]:
my_name = 'rebecca'
print(name)

Rebecca

In [13]:
# length of name value
len(name)

7

In [14]:
my_last_name = 'solomon'
print(my_last_name)

solomon

In [21]:
# concatenation
my_name + ' ' + my_last_name

'rebecca solomon'

In [25]:
print('My name is ' + my_name + ' ' + my_last_name + '.')

My name is rebecca solomon.

In [29]:
full_name = my_name + ' ' + my_last_name
print(full_name)

rebecca solomon

In [31]:
# interpolation
print(f'Hello, my name is {full_name} and I am {age} years old.')

Hello, my name is rebecca solomon and I am 23 years old.

In [36]:
print('hello my name is {name}'.format(name='lucy'))

hello my name is lucy

In [40]:
# Lists
list = ['student1', 23, 'name', 12.6]
print(list)

['student1', 23, 'name', 12.6]

In [21]:
grocery_list = ['milk', 'bananas', 'cake']
print(grocery_list)

['milk', 'bananas', 'cake']

In [22]:
print(type(grocery_list))

<class 'list'>

In [23]:
# accessing the element in the list at index 1
grocery_list[1]

'bananas'

In [24]:
# reassigning the element at index 2
grocery_list[2] = 'apples'
print(grocery_list)

['milk', 'bananas', 'apples']

In [25]:
# removing the last element in the list
print(grocery_list.pop())

apples

In [26]:
print(grocery_list)

['milk', 'bananas']

In [27]:
# adding an new element to the end of the list
grocery_list.append('cookies')
print(grocery_list)

['milk', 'bananas', 'cookies']

In [28]:
grocery_list.append('icecream')
print(grocery_list)

['milk', 'bananas', 'cookies', 'icecream']

In [29]:
# removing the element at a specific index
grocery_list.remove(grocery_list[1])
print(grocery_list)

['milk', 'cookies', 'icecream']

In [30]:
print(grocery_list.pop())

icecream

In [31]:
print(grocery_list)

['milk', 'cookies']

In [32]:
#Touples
grocery_list_2 = ('apples', 'oranges', 'pears')
print(grocery_list_2)

('apples', 'oranges', 'pears')

In [33]:
print(type(grocery_list_2))

<class 'tuple'>

In [34]:
#Dictionaries:
# indexing not allowed

In [35]:
student_details = {'Name':['Gina','Kaci'], 
                   'Age': 40, 
                   'Nationality': 'Greek'}
print(student_details)

{'Name': ['Gina', 'Kaci'], 'Age': 40, 'Nationality': 'Greek'}

In [96]:
# Acessing name of student
print(student_details['Name'])
# Acessing just one name
print(student_details['Name'][1])

['Gina', 'Kaci']
Kaci

In [90]:
#using .get() method to access values
print(student_details.get('Name'))

['Gina', 'Kaci']

In [92]:
#using get for a key that does not exist will return 'none'. If other method used, will get error
print(student_details.get('Gender'))

None

In [51]:
greetings_list = ['hi', 'hi', 'hey', 'there']
print(greetings_list)

['hi', 'hi', 'hey', 'there']

In [52]:
greetings_list.remove(greetings_list[1])   #or del greetings_list[0]

In [54]:
print(greetings_list)

['hi', 'hey', 'there']